<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Shorten your link!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="sendUrl()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter URL here</mat-label>
          <input matInput name="userUrl" [(ngModel)]="userUrl">
        </mat-form-field>
        <div class="slider">
          <mat-slider min="3" max="8" step="1" value="3" thumbLabel [(ngModel)]="symbolNumber" name="symbolNumber"></mat-slider>
          <span>Select the number of characters to shorten</span>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!userUrl">Shorten</button>
      </form>
    </mat-card-content>
    <mat-card-footer *ngIf="shortUrl">
      <mat-card-subtitle>
        Your link now look like this
      </mat-card-subtitle>
      <a href="{{ shortUrl }}" target="_blank">
        {{ shortUrl }}
      </a>
    </mat-card-footer>
  </mat-card>
</div>
