
.container
  padding: 0 15px
  height: 100%

mat-card
  min-height: 100%
  margin: 0
  padding: 0

mat-card-header
  justify-content: center
  padding-top: 200px
  @media screen and (max-width: 500px)
    padding-top: 50px

.mat-card-header .mat-card-title
  font-size: 36px
  margin-bottom: 50px
  @media screen and (max-width: 500px)
    font-size: 26px
    margin-bottom: 20px

mat-form-field
  width: 60%
  display: block
  margin: 0 auto
  @media screen and (max-width: 500px)
    width: 90%

button
  display: block
  margin: 0 auto

mat-slider
  margin: 0 auto
  width: 100%

mat-card-footer
  text-align: center
  padding-top: 50px
  height: 100%

mat-card-subtitle
  font-size: 20px

a
  font-size: 20px

.slider
  max-width: 320px
  margin: 0 auto 10px
  text-align: center
